# Raw data cleaning using Pandas

In [3]:
# Import libraries
import pandas as pd

In [4]:
# Load the data from csv file to df
df=pd.read_csv('cars24_raw_data.csv')

In [6]:
df

,Unnamed: 0,CAR_MODEL,BRAND,CAR_NAME,CAR_VARIANT,CAR_TRANSMISSION,KM_DRIVEN,OWNER_TYPE,FUEL_TYPE,REGISTRAION_ID,MONTHLY_EMI,CAR_PRICE,DOWNPAYMENT_AMOUNT,LOCATION
0,0,2022,Maruti,Eeco,7 STR STD(O),Manual,"27,431 km",1st owner,Petrol,DL1C-AF9509,"₹8,915/month",₹4.56 Lakh,On Zero down payment,Noida
1,1,2020,Hyundai,Verna,SX (O) 1.5 VTVT IVT,Automatic,"24,243 km",1st owner,Petrol,DL8C-BA3472,"₹21,680/month",₹11.39 Lakh,On Zero down payment,Noida
2,2,2020,Maruti,Vitara Brezza,VXI,Manual,"46,380 km",1st owner,Petrol,HR26-EL3064,"₹13,562/month",₹6.94 Lakh,On Zero down payment,Gurgaon
3,3,2018,Maruti,Celerio,ZXI,Manual,"25,527 km",2nd owner,Petrol,DL3C-CP5238,"₹7,605/month",₹3.89 Lakh,On Zero down payment,Noida
4,4,2016,Renault,Kwid,RXT 1.0 (O),Manual,"53,885 km",2nd owner,Petrol,HR26-DA4220,"₹5,455/month",₹2.79 Lakh,On Zero down payment,Faridabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,1098,2012,Hyundai,i10,SPORTZ 1.2 AT,Automatic,"67,279 km",1st owner,Petrol,DL3C-BZ0117,"₹4,848/month",₹2.48 Lakh,On Zero down payment,Noida
1099,1099,2017,Honda,Jazz,1.2L I-VTEC V AT,Automatic,"79,563 km",1st owner,Petrol,UP16-BR5695,"₹10,088/month",₹5.16 Lakh,On Zero down payment,Noida
1100,1100,2019,Hyundai,Verna,1.4 EX CRDI,Manual,"53,322 km",1st owner,Diesel,DL7C-R2893,"₹15,601/month",₹7.98 Lakh,On Zero down payment,Noida
1101,1101,2013,Maruti,Swift Dzire,ZXI,Manual,"51,592 km",1st owner,Petrol,DL12-CH1989,"₹6,725/month",₹3.44 Lakh,On Zero down payment,New Delhi
1102,1102,2015,Maruti,Celerio,ZXI,Manual,"40,518 km",1st owner,Petrol,DL14-CC3131,"₹7,429/month",₹3.8 Lakh,On Zero down payment,New Delhi

In [7]:
# Drop the column Unnamed
df=df.drop("Unnamed: 0",axis=1)

In [8]:
df

,CAR_MODEL,BRAND,CAR_NAME,CAR_VARIANT,CAR_TRANSMISSION,KM_DRIVEN,OWNER_TYPE,FUEL_TYPE,REGISTRAION_ID,MONTHLY_EMI,CAR_PRICE,DOWNPAYMENT_AMOUNT,LOCATION
0,2022,Maruti,Eeco,7 STR STD(O),Manual,"27,431 km",1st owner,Petrol,DL1C-AF9509,"₹8,915/month",₹4.56 Lakh,On Zero down payment,Noida
1,2020,Hyundai,Verna,SX (O) 1.5 VTVT IVT,Automatic,"24,243 km",1st owner,Petrol,DL8C-BA3472,"₹21,680/month",₹11.39 Lakh,On Zero down payment,Noida
2,2020,Maruti,Vitara Brezza,VXI,Manual,"46,380 km",1st owner,Petrol,HR26-EL3064,"₹13,562/month",₹6.94 Lakh,On Zero down payment,Gurgaon
3,2018,Maruti,Celerio,ZXI,Manual,"25,527 km",2nd owner,Petrol,DL3C-CP5238,"₹7,605/month",₹3.89 Lakh,On Zero down payment,Noida
4,2016,Renault,Kwid,RXT 1.0 (O),Manual,"53,885 km",2nd owner,Petrol,HR26-DA4220,"₹5,455/month",₹2.79 Lakh,On Zero down payment,Faridabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,2012,Hyundai,i10,SPORTZ 1.2 AT,Automatic,"67,279 km",1st owner,Petrol,DL3C-BZ0117,"₹4,848/month",₹2.48 Lakh,On Zero down payment,Noida
1099,2017,Honda,Jazz,1.2L I-VTEC V AT,Automatic,"79,563 km",1st owner,Petrol,UP16-BR5695,"₹10,088/month",₹5.16 Lakh,On Zero down payment,Noida
1100,2019,Hyundai,Verna,1.4 EX CRDI,Manual,"53,322 km",1st owner,Diesel,DL7C-R2893,"₹15,601/month",₹7.98 Lakh,On Zero down payment,Noida
1101,2013,Maruti,Swift Dzire,ZXI,Manual,"51,592 km",1st owner,Petrol,DL12-CH1989,"₹6,725/month",₹3.44 Lakh,On Zero down payment,New Delhi
1102,2015,Maruti,Celerio,ZXI,Manual,"40,518 km",1st owner,Petrol,DL14-CC3131,"₹7,429/month",₹3.8 Lakh,On Zero down payment,New Delhi

In [ ]:
# Replace comma, space and km and convert it into integer datatype
df['KM_DRIVEN']=df['KM_DRIVEN'].str.replace(',','').str.replace(' km','').astype(int)

In [13]:
df

,CAR_MODEL,BRAND,CAR_NAME,CAR_VARIANT,CAR_TRANSMISSION,KM_DRIVEN,OWNER_TYPE,FUEL_TYPE,REGISTRAION_ID,MONTHLY_EMI,CAR_PRICE,DOWNPAYMENT_AMOUNT,LOCATION
0,2022,Maruti,Eeco,7 STR STD(O),Manual,27431,1st owner,Petrol,DL1C-AF9509,"₹8,915/month",₹4.56 Lakh,On Zero down payment,Noida
1,2020,Hyundai,Verna,SX (O) 1.5 VTVT IVT,Automatic,24243,1st owner,Petrol,DL8C-BA3472,"₹21,680/month",₹11.39 Lakh,On Zero down payment,Noida
2,2020,Maruti,Vitara Brezza,VXI,Manual,46380,1st owner,Petrol,HR26-EL3064,"₹13,562/month",₹6.94 Lakh,On Zero down payment,Gurgaon
3,2018,Maruti,Celerio,ZXI,Manual,25527,2nd owner,Petrol,DL3C-CP5238,"₹7,605/month",₹3.89 Lakh,On Zero down payment,Noida
4,2016,Renault,Kwid,RXT 1.0 (O),Manual,53885,2nd owner,Petrol,HR26-DA4220,"₹5,455/month",₹2.79 Lakh,On Zero down payment,Faridabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,2012,Hyundai,i10,SPORTZ 1.2 AT,Automatic,67279,1st owner,Petrol,DL3C-BZ0117,"₹4,848/month",₹2.48 Lakh,On Zero down payment,Noida
1099,2017,Honda,Jazz,1.2L I-VTEC V AT,Automatic,79563,1st owner,Petrol,UP16-BR5695,"₹10,088/month",₹5.16 Lakh,On Zero down payment,Noida
1100,2019,Hyundai,Verna,1.4 EX CRDI,Manual,53322,1st owner,Diesel,DL7C-R2893,"₹15,601/month",₹7.98 Lakh,On Zero down payment,Noida
1101,2013,Maruti,Swift Dzire,ZXI,Manual,51592,1st owner,Petrol,DL12-CH1989,"₹6,725/month",₹3.44 Lakh,On Zero down payment,New Delhi
1102,2015,Maruti,Celerio,ZXI,Manual,40518,1st owner,Petrol,DL14-CC3131,"₹7,429/month",₹3.8 Lakh,On Zero down payment,New Delhi

In [14]:
# Replace owner and space
df['OWNER_TYPE']=df['OWNER_TYPE'].str.replace(' owner','')
df

,CAR_MODEL,BRAND,CAR_NAME,CAR_VARIANT,CAR_TRANSMISSION,KM_DRIVEN,OWNER_TYPE,FUEL_TYPE,REGISTRAION_ID,MONTHLY_EMI,CAR_PRICE,DOWNPAYMENT_AMOUNT,LOCATION
0,2022,Maruti,Eeco,7 STR STD(O),Manual,27431,1st,Petrol,DL1C-AF9509,"₹8,915/month",₹4.56 Lakh,On Zero down payment,Noida
1,2020,Hyundai,Verna,SX (O) 1.5 VTVT IVT,Automatic,24243,1st,Petrol,DL8C-BA3472,"₹21,680/month",₹11.39 Lakh,On Zero down payment,Noida
2,2020,Maruti,Vitara Brezza,VXI,Manual,46380,1st,Petrol,HR26-EL3064,"₹13,562/month",₹6.94 Lakh,On Zero down payment,Gurgaon
3,2018,Maruti,Celerio,ZXI,Manual,25527,2nd,Petrol,DL3C-CP5238,"₹7,605/month",₹3.89 Lakh,On Zero down payment,Noida
4,2016,Renault,Kwid,RXT 1.0 (O),Manual,53885,2nd,Petrol,HR26-DA4220,"₹5,455/month",₹2.79 Lakh,On Zero down payment,Faridabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,2012,Hyundai,i10,SPORTZ 1.2 AT,Automatic,67279,1st,Petrol,DL3C-BZ0117,"₹4,848/month",₹2.48 Lakh,On Zero down payment,Noida
1099,2017,Honda,Jazz,1.2L I-VTEC V AT,Automatic,79563,1st,Petrol,UP16-BR5695,"₹10,088/month",₹5.16 Lakh,On Zero down payment,Noida
1100,2019,Hyundai,Verna,1.4 EX CRDI,Manual,53322,1st,Diesel,DL7C-R2893,"₹15,601/month",₹7.98 Lakh,On Zero down payment,Noida
1101,2013,Maruti,Swift Dzire,ZXI,Manual,51592,1st,Petrol,DL12-CH1989,"₹6,725/month",₹3.44 Lakh,On Zero down payment,New Delhi
1102,2015,Maruti,Celerio,ZXI,Manual,40518,1st,Petrol,DL14-CC3131,"₹7,429/month",₹3.8 Lakh,On Zero down payment,New Delhi

In [15]:
# Split the data into two parts and extract the first one
df['REGISTRAION_ID']=df['REGISTRAION_ID'].str.split('-').str.get(0)
df

,CAR_MODEL,BRAND,CAR_NAME,CAR_VARIANT,CAR_TRANSMISSION,KM_DRIVEN,OWNER_TYPE,FUEL_TYPE,REGISTRAION_ID,MONTHLY_EMI,CAR_PRICE,DOWNPAYMENT_AMOUNT,LOCATION
0,2022,Maruti,Eeco,7 STR STD(O),Manual,27431,1st,Petrol,DL1C,"₹8,915/month",₹4.56 Lakh,On Zero down payment,Noida
1,2020,Hyundai,Verna,SX (O) 1.5 VTVT IVT,Automatic,24243,1st,Petrol,DL8C,"₹21,680/month",₹11.39 Lakh,On Zero down payment,Noida
2,2020,Maruti,Vitara Brezza,VXI,Manual,46380,1st,Petrol,HR26,"₹13,562/month",₹6.94 Lakh,On Zero down payment,Gurgaon
3,2018,Maruti,Celerio,ZXI,Manual,25527,2nd,Petrol,DL3C,"₹7,605/month",₹3.89 Lakh,On Zero down payment,Noida
4,2016,Renault,Kwid,RXT 1.0 (O),Manual,53885,2nd,Petrol,HR26,"₹5,455/month",₹2.79 Lakh,On Zero down payment,Faridabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,2012,Hyundai,i10,SPORTZ 1.2 AT,Automatic,67279,1st,Petrol,DL3C,"₹4,848/month",₹2.48 Lakh,On Zero down payment,Noida
1099,2017,Honda,Jazz,1.2L I-VTEC V AT,Automatic,79563,1st,Petrol,UP16,"₹10,088/month",₹5.16 Lakh,On Zero down payment,Noida
1100,2019,Hyundai,Verna,1.4 EX CRDI,Manual,53322,1st,Diesel,DL7C,"₹15,601/month",₹7.98 Lakh,On Zero down payment,Noida
1101,2013,Maruti,Swift Dzire,ZXI,Manual,51592,1st,Petrol,DL12,"₹6,725/month",₹3.44 Lakh,On Zero down payment,New Delhi
1102,2015,Maruti,Celerio,ZXI,Manual,40518,1st,Petrol,DL14,"₹7,429/month",₹3.8 Lakh,On Zero down payment,New Delhi

In [16]:
# Replace ₹, comma, /month and convert the datatype into float
df['MONTHLY_EMI']=df['MONTHLY_EMI'].str.replace('₹','').str.replace(',','').str.replace('/month','').astype(float)
df

,CAR_MODEL,BRAND,CAR_NAME,CAR_VARIANT,CAR_TRANSMISSION,KM_DRIVEN,OWNER_TYPE,FUEL_TYPE,REGISTRAION_ID,MONTHLY_EMI,CAR_PRICE,DOWNPAYMENT_AMOUNT,LOCATION
0,2022,Maruti,Eeco,7 STR STD(O),Manual,27431,1st,Petrol,DL1C,8915.0,₹4.56 Lakh,On Zero down payment,Noida
1,2020,Hyundai,Verna,SX (O) 1.5 VTVT IVT,Automatic,24243,1st,Petrol,DL8C,21680.0,₹11.39 Lakh,On Zero down payment,Noida
2,2020,Maruti,Vitara Brezza,VXI,Manual,46380,1st,Petrol,HR26,13562.0,₹6.94 Lakh,On Zero down payment,Gurgaon
3,2018,Maruti,Celerio,ZXI,Manual,25527,2nd,Petrol,DL3C,7605.0,₹3.89 Lakh,On Zero down payment,Noida
4,2016,Renault,Kwid,RXT 1.0 (O),Manual,53885,2nd,Petrol,HR26,5455.0,₹2.79 Lakh,On Zero down payment,Faridabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,2012,Hyundai,i10,SPORTZ 1.2 AT,Automatic,67279,1st,Petrol,DL3C,4848.0,₹2.48 Lakh,On Zero down payment,Noida
1099,2017,Honda,Jazz,1.2L I-VTEC V AT,Automatic,79563,1st,Petrol,UP16,10088.0,₹5.16 Lakh,On Zero down payment,Noida
1100,2019,Hyundai,Verna,1.4 EX CRDI,Manual,53322,1st,Diesel,DL7C,15601.0,₹7.98 Lakh,On Zero down payment,Noida
1101,2013,Maruti,Swift Dzire,ZXI,Manual,51592,1st,Petrol,DL12,6725.0,₹3.44 Lakh,On Zero down payment,New Delhi
1102,2015,Maruti,Celerio,ZXI,Manual,40518,1st,Petrol,DL14,7429.0,₹3.8 Lakh,On Zero down payment,New Delhi

In [17]:
# Replace ₹, Lakh and space and convert the datatype into float
df['CAR_PRICE']=df['CAR_PRICE'].str.replace('₹','').str.replace(' Lakh','').astype(float)
df

,CAR_MODEL,BRAND,CAR_NAME,CAR_VARIANT,CAR_TRANSMISSION,KM_DRIVEN,OWNER_TYPE,FUEL_TYPE,REGISTRAION_ID,MONTHLY_EMI,CAR_PRICE,DOWNPAYMENT_AMOUNT,LOCATION
0,2022,Maruti,Eeco,7 STR STD(O),Manual,27431,1st,Petrol,DL1C,8915.0,4.56,On Zero down payment,Noida
1,2020,Hyundai,Verna,SX (O) 1.5 VTVT IVT,Automatic,24243,1st,Petrol,DL8C,21680.0,11.39,On Zero down payment,Noida
2,2020,Maruti,Vitara Brezza,VXI,Manual,46380,1st,Petrol,HR26,13562.0,6.94,On Zero down payment,Gurgaon
3,2018,Maruti,Celerio,ZXI,Manual,25527,2nd,Petrol,DL3C,7605.0,3.89,On Zero down payment,Noida
4,2016,Renault,Kwid,RXT 1.0 (O),Manual,53885,2nd,Petrol,HR26,5455.0,2.79,On Zero down payment,Faridabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,2012,Hyundai,i10,SPORTZ 1.2 AT,Automatic,67279,1st,Petrol,DL3C,4848.0,2.48,On Zero down payment,Noida
1099,2017,Honda,Jazz,1.2L I-VTEC V AT,Automatic,79563,1st,Petrol,UP16,10088.0,5.16,On Zero down payment,Noida
1100,2019,Hyundai,Verna,1.4 EX CRDI,Manual,53322,1st,Diesel,DL7C,15601.0,7.98,On Zero down payment,Noida
1101,2013,Maruti,Swift Dzire,ZXI,Manual,51592,1st,Petrol,DL12,6725.0,3.44,On Zero down payment,New Delhi
1102,2015,Maruti,Celerio,ZXI,Manual,40518,1st,Petrol,DL14,7429.0,3.80,On Zero down payment,New Delhi

In [18]:
# Replace On and space
df['DOWNPAYMENT_AMOUNT']=df['DOWNPAYMENT_AMOUNT'].str.replace('On ','')
df

,CAR_MODEL,BRAND,CAR_NAME,CAR_VARIANT,CAR_TRANSMISSION,KM_DRIVEN,OWNER_TYPE,FUEL_TYPE,REGISTRAION_ID,MONTHLY_EMI,CAR_PRICE,DOWNPAYMENT_AMOUNT,LOCATION
0,2022,Maruti,Eeco,7 STR STD(O),Manual,27431,1st,Petrol,DL1C,8915.0,4.56,Zero down payment,Noida
1,2020,Hyundai,Verna,SX (O) 1.5 VTVT IVT,Automatic,24243,1st,Petrol,DL8C,21680.0,11.39,Zero down payment,Noida
2,2020,Maruti,Vitara Brezza,VXI,Manual,46380,1st,Petrol,HR26,13562.0,6.94,Zero down payment,Gurgaon
3,2018,Maruti,Celerio,ZXI,Manual,25527,2nd,Petrol,DL3C,7605.0,3.89,Zero down payment,Noida
4,2016,Renault,Kwid,RXT 1.0 (O),Manual,53885,2nd,Petrol,HR26,5455.0,2.79,Zero down payment,Faridabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,2012,Hyundai,i10,SPORTZ 1.2 AT,Automatic,67279,1st,Petrol,DL3C,4848.0,2.48,Zero down payment,Noida
1099,2017,Honda,Jazz,1.2L I-VTEC V AT,Automatic,79563,1st,Petrol,UP16,10088.0,5.16,Zero down payment,Noida
1100,2019,Hyundai,Verna,1.4 EX CRDI,Manual,53322,1st,Diesel,DL7C,15601.0,7.98,Zero down payment,Noida
1101,2013,Maruti,Swift Dzire,ZXI,Manual,51592,1st,Petrol,DL12,6725.0,3.44,Zero down payment,New Delhi
1102,2015,Maruti,Celerio,ZXI,Manual,40518,1st,Petrol,DL14,7429.0,3.80,Zero down payment,New Delhi

In [21]:
# Converting the column into string column
df['CAR_MODEL']=df['CAR_MODEL'].astype(str)

In [22]:
# Check the number of rows and columns in the dataset
df.shape

(1103, 13)

In [23]:
# Check the datatypes
df.dtypes

CAR_MODEL              object
BRAND                  object
CAR_NAME               object
CAR_VARIANT            object
CAR_TRANSMISSION       object
KM_DRIVEN               int32
OWNER_TYPE             object
FUEL_TYPE              object
REGISTRAION_ID         object
MONTHLY_EMI           float64
CAR_PRICE             float64
DOWNPAYMENT_AMOUNT     object
LOCATION               object
dtype: object

In [24]:
# check the null values in the dataset
df.isnull().sum()

CAR_MODEL             0
BRAND                 0
CAR_NAME              0
CAR_VARIANT           0
CAR_TRANSMISSION      0
KM_DRIVEN             0
OWNER_TYPE            0
FUEL_TYPE             0
REGISTRAION_ID        0
MONTHLY_EMI           0
CAR_PRICE             0
DOWNPAYMENT_AMOUNT    0
LOCATION              0
dtype: int64

In [27]:
# Check duplicate values
df.duplicated().sum()

0

In [28]:
# Check summary of the dataset
df.describe()

           KM_DRIVEN   MONTHLY_EMI    CAR_PRICE
count    1103.000000   1103.000000  1103.000000
mean    52090.880326  11671.015413     6.029121
std     27088.293327   6530.311104     3.448643
min       422.000000   2424.000000     1.240000
25%     30057.000000   7404.000000     3.785000
50%     50464.000000  10733.000000     5.490000
75%     72118.500000  14377.000000     7.355000
max    125957.000000  51392.000000    27.000000

In [29]:
# Convert cleaned dataset to excel file
df.to_excel('cars24_cleaned_data.xlsx', index=False)